h2 {
color: #8E03E6;
font-weight: normal; }


h1 {
color: purple; }

body {
margin-left: 3em;
font-family: Tahoma, sans-serif;
background-color: #C9F97E; }

hr {
margin-right:50em;
}

img {
width: 400px;
height: 300px; }

#Intro{
font-weight: normal;
}

.logo{
width: 70px;
height: auto;
border-style: solid;
border-color: red;
}

a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

.firstcharacter{
	color:#903;
	float: left;
	font-family: Tahoma, sans-serif;
	font-size: 30px;
	line-height: 30px;
	padding-right: 3px;

}